<div class="container">
    <div class="row">
        <div class="col-12 col-lg-6">
            <div class="row">
                <div class="col-md-12 d-flex justify-content-center align-items-center">
                    <h1>Player {{isCross ? "Two" : "One"}} Turn</h1>
                </div>
                <div class="col-md-12">
                    <div class="grid">
                        <div class="card" *ngFor="let item of itemArr; let i=index;" (click)="handleClick(i)">
                            <div class="box card-box">
                                <app-icon [iconName]="item"></app-icon>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6 d-flex flex-column justify-content-center align-items-center" *ngIf="winnerMessage || gameOverFlag">
            <h1 class="text-white">Game Over{{winnerMessage ? ', ' + winnerMessage : ''}}!</h1>
            <div class="btn btn-danger" (click)="resetGame()">Reset Game</div>
        </div>
    </div>
</div>